.flex-container {
  border: 2px;
  border-radius: solid white 3px;
  display: flex;
}

.video-array {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videos {
  margin: 10px;
  border-radius: 15%;
}

.register {
  margin-top: 2%;
  text-align: center;
}

.login-btn {
  margin-top: 10px;
}

.react-Button {
  background-color: grey;
  color: red;
  height: 50px;
  width: 20%;
}

h1 {
  font-size: 50px;
}




.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px;
}

.login {
  text-align: center;
}

.danger {
  color: red;
  font-size: 30px;
  border-color: red;
  text-align: center;
}
.about-h{
  text-align:center;
  
}

.aboutlogo{
  display: flex;
  align-items: center;
  justify-content: center;
    margin-left:auto;
  margin-right:auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.aboutP{
  display: block;
  margin-left: 15%;
  margin-right: 15%;
}