.blog-header{
    font-family: 'Roboto', sans-serif;

}
.post {
    text-align: left;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #9e9e9e85;
    font-family: 'Roboto', sans-serif;

}
.post-body{
    margin-bottom:10%;
    margin-top:10%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 20px;

}
img{
    width: 100%;
    height: auto;
}

.author-image {
    height: 100px;
    width: 90px;
}

.author {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.p-image {
    max-height: 200px;
    max-width:100%;
    min-height: 200px;
    display: block;
    float: left;
    padding:10px;
}

.p-sumamry {
    display: block;
    font-family: 'Roboto', sans-serif;

}

.p-title {
    text-align: center;
    font-size: 3rem;
}

.post-snippet {
    margin-top: 5%;
    border: 2px solid #302c2c85;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding:10px;
    max-width:auto;
    min-height:220px;
    max-height:auto;
    height:auto;
    width: 80%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

.chips{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}

.article-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    background-color: white;
    padding: 10px;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;

}

.share-btn{
    float:right;
    margin-right:50px;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .chips{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
