.app-bar {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
  list-style: none;
  display: inline;
  font-size: 20px;
  color: white;
  padding: 15px;
}
li a {
  color: white;
}

.sm-hide {
  color: white;
  font-size: 20px;
  padding:5px 5px;
}

.auth {
  margin-bottom: 18px;
  padding: 5px;
  margin-right: 20px;
}

.user {
  color: white;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
  margin-left: 150px;
}

.profile-img {
  height: 50px;
}

.logo {
  height: 50px;
  width: 50px;
  display: flex;
  float: left;
  margin-right: 5px;
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    div.Typist{
      font-size: 13px;
    }
    li{
      font-size: 15px;
      padding: 0
    }
    .user{
      font-size: 15px;
    }
    span{
      font-size:15px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}